<div class="publications">
  
  <!-- World Models Section -->
  <h3 id="world-models" class="pub-category-heading">World Models</h3>
  {% bibliography --group_by none --query @*[key=wang2026motionphysics] %}

  <!-- 4D Generation Section -->
  <h3 id="4d-generation" class="pub-category-heading">4D Generation</h3>
  {% bibliography --group_by none --query @*[key=wang2026bimotion] %}
  {% bibliography --group_by none --query @*[key=wang2025decoupledgaussian] %}

  <!-- Dynamic Reconstruction Section -->
  <h3 id="dynamic-reconstruction" class="pub-category-heading">Dynamic Reconstruction</h3>
  {% bibliography --group_by none --query @*[key=wang2025canfields] %}
  {% bibliography --group_by none --query @*[key=wang2024self] %}

</div>
